@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    box-sizing: border-box;
}
.form-container{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}